In [1]:
import pandas as pd
import numpy as np

Read the sheets in excel

In [29]:
file_path = 'data/Course Demographics Example.xlsx'

all_sheets = pd.read_excel(file_path, sheet_name=None, skiprows=1, header=[0, 1])
processed_dataframe = {}

for sheet_name, data in all_sheets.items():
    print(f"--------Processing sheet: {sheet_name}--------")
    processed_dataframe[sheet_name] = data
    print(data.head(1))

--------Processing sheet: Spring 2023--------
  Unnamed: 0_level_0    Sex             First Gen?               HUG?      \
  Unnamed: 0_level_1 Female Male Male.1        Yes No/Unreported  Yes  No
0       CSCI0081 S01      5   10      0          3            12    3  12

                    Race/Ethnicity                                  \
  American Indian or Alaska Native Asian Black or African American
0                                0     2                         1

                                                                \
  Hispanic or Latino Non-Resident Alien Race/Ethnicity Unknown
0                  2                  3                      0


  Two or More Races White Total Enrollment
0                 1     6               15
--------Processing sheet: Fall 2023--------
  Unnamed: 0_level_0    Sex      First Gen?               HUG?       \
  Unnamed: 0_level_1 Female Male        Yes No/Unreported  Yes   No
0       CSCI0020 S01     89  116         19           186   38  167

                    Race/Ethnicity                                  \
  American Indian or Alaska Native Asian Black or African American
0                                1    15                        15

                                                                \
  Hispanic or Latino Non-Resident Alien Race/Ethnicity Unknown
0                 22                 29                      8


  Two or More Races White Total Enrollment
0                18    97              205
--------Processing sheet: Spring 2024--------
  Unnamed: 0_level_0    Sex      First Gen?               HUG?     \
  Unnamed: 0_level_1 Female Male        Yes No/Unreported  Yes No
0       CSCI0081 S01      4    3          1             6    0  7

                    Race/Ethnicity                                  \
  American Indian or Alaska Native Asian Black or African American
0                                0     4                         0

                                                                \
  Hispanic or Latino Native Hawaiian or Other Pacific Islander
0                  0                                         0

                                                                     \
  Non-Resident Alien Race/Ethnicity Unknown Two or More Races White
0                  1                      0                 0     2


  Total Enrollment
0                7

In [30]:
df_f23 = processed_dataframe['Fall 2023']
new_header = [f'{i} {j}' if i != j else f'{i}' for i, j in df_f23.columns]
df_f23.columns = new_header
df_f23.columns.values[0] = 'CourseName'
df_f23 = df_f23.drop(df_f23.index[-1])
df_f23.head()

,CourseName,Sex Female,Sex Male,First Gen? Yes,First Gen? No/Unreported,HUG? Yes,HUG? No,Race/Ethnicity American Indian or Alaska Native,Race/Ethnicity Asian,Race/Ethnicity Black or African American,Race/Ethnicity Hispanic or Latino,Race/Ethnicity Non-Resident Alien,Race/Ethnicity Race/Ethnicity Unknown,Race/Ethnicity Two or More Races,Race/Ethnicity White,Race/Ethnicity Total Enrollment
0,CSCI0020 S01,89,116,19,186,38,167,1,15,15,22,29,8,18,97,205
1,CSCI0081 S01,0,2,1,1,0,2,0,0,0,0,1,0,0,1,2
2,CSCI0111 S01,50,86,13,123,19,117,0,27,4,15,16,4,14,56,136
3,CSCI0111 S02,8,8,2,14,2,14,1,0,0,1,5,1,2,6,16
4,CSCI0112 S01,13,12,9,16,7,18,0,4,2,5,5,0,1,8,25

In [35]:
df_f23['courseID'] = df_f23['CourseName'].str.extract(r'(\d+)').astype(int)
df_f23.head()

,CourseName,Sex Female,Sex Male,First Gen? Yes,First Gen? No/Unreported,HUG? Yes,HUG? No,Race/Ethnicity American Indian or Alaska Native,Race/Ethnicity Asian,Race/Ethnicity Black or African American,Race/Ethnicity Hispanic or Latino,Race/Ethnicity Non-Resident Alien,Race/Ethnicity Race/Ethnicity Unknown,Race/Ethnicity Two or More Races,Race/Ethnicity White,Race/Ethnicity Total Enrollment,courseID
0,CSCI0020 S01,89,116,19,186,38,167,1,15,15,22,29,8,18,97,205,20
1,CSCI0081 S01,0,2,1,1,0,2,0,0,0,0,1,0,0,1,2,81
2,CSCI0111 S01,50,86,13,123,19,117,0,27,4,15,16,4,14,56,136,111
3,CSCI0111 S02,8,8,2,14,2,14,1,0,0,1,5,1,2,6,16,111
4,CSCI0112 S01,13,12,9,16,7,18,0,4,2,5,5,0,1,8,25,112

In [37]:
# categorize courses
def categorize_course(course_id):
    # Extract the numeric part of the CourseID assuming the format is always the same
    # and the number is at the end
    #course_number = int(course_id.split()[-1])
    
    # Define the conditions for categorizing courses
    if course_id <= 200:
        return 'Introductory'
    elif 220 <= course_id <= 1010:
        return 'Intermediate'
    elif 1010 < course_id < 2000:
        return 'Advanced'
    else:
        return 'Grad'

In [65]:
df_f23['CourseLevel'] = df_f23['courseID'].apply(categorize_course)
print(df_f23.shape)
df_f23.head()

(60, 18)

,CourseName,Sex Female,Sex Male,First Gen? Yes,First Gen? No/Unreported,HUG? Yes,HUG? No,Race/Ethnicity American Indian or Alaska Native,Race/Ethnicity Asian,Race/Ethnicity Black or African American,Race/Ethnicity Hispanic or Latino,Race/Ethnicity Non-Resident Alien,Race/Ethnicity Race/Ethnicity Unknown,Race/Ethnicity Two or More Races,Race/Ethnicity White,Race/Ethnicity Total Enrollment,courseID,CourseLevel
0,CSCI0020 S01,89,116,19,186,38,167,1,15,15,22,29,8,18,97,205,20,Introductory
1,CSCI0081 S01,0,2,1,1,0,2,0,0,0,0,1,0,0,1,2,81,Introductory
2,CSCI0111 S01,50,86,13,123,19,117,0,27,4,15,16,4,14,56,136,111,Introductory
3,CSCI0111 S02,8,8,2,14,2,14,1,0,0,1,5,1,2,6,16,111,Introductory
4,CSCI0112 S01,13,12,9,16,7,18,0,4,2,5,5,0,1,8,25,112,Introductory

In [40]:
df_f23.columns

Index(['CourseName', 'Sex Female', 'Sex Male', 'First Gen? Yes',
       'First Gen? No/Unreported', 'HUG? Yes', 'HUG? No',
       'Race/Ethnicity American Indian or Alaska Native',
       'Race/Ethnicity Asian', 'Race/Ethnicity Black or African American',
       'Race/Ethnicity Hispanic or Latino',
       'Race/Ethnicity Non-Resident Alien',
       'Race/Ethnicity Race/Ethnicity Unknown',
       'Race/Ethnicity Two or More Races', 'Race/Ethnicity White',
       'Race/Ethnicity Total Enrollment', 'courseID', 'CourseLevel'],
      dtype='object')

In [42]:
df_f23[['CourseLevel', 'CourseName', 'Sex Female', 'Sex Male', 'First Gen? Yes',
       'First Gen? No/Unreported', 'HUG? Yes', 'HUG? No',
       'Race/Ethnicity American Indian or Alaska Native',
       'Race/Ethnicity Asian', 'Race/Ethnicity Black or African American',
       'Race/Ethnicity Hispanic or Latino',
       'Race/Ethnicity Non-Resident Alien',
       'Race/Ethnicity Race/Ethnicity Unknown',
       'Race/Ethnicity Two or More Races', 'Race/Ethnicity White',
       'Race/Ethnicity Total Enrollment']].head()

,CourseLevel,CourseName,Sex Female,Sex Male,First Gen? Yes,First Gen? No/Unreported,HUG? Yes,HUG? No,Race/Ethnicity American Indian or Alaska Native,Race/Ethnicity Asian,Race/Ethnicity Black or African American,Race/Ethnicity Hispanic or Latino,Race/Ethnicity Non-Resident Alien,Race/Ethnicity Race/Ethnicity Unknown,Race/Ethnicity Two or More Races,Race/Ethnicity White,Race/Ethnicity Total Enrollment
0,Introductory,CSCI0020 S01,89,116,19,186,38,167,1,15,15,22,29,8,18,97,205
1,Introductory,CSCI0081 S01,0,2,1,1,0,2,0,0,0,0,1,0,0,1,2
2,Introductory,CSCI0111 S01,50,86,13,123,19,117,0,27,4,15,16,4,14,56,136
3,Introductory,CSCI0111 S02,8,8,2,14,2,14,1,0,0,1,5,1,2,6,16
4,Introductory,CSCI0112 S01,13,12,9,16,7,18,0,4,2,5,5,0,1,8,25

In [59]:
df_f23['CourseLevel'].unique()

array(['Introductory', 'Intermediate', 'Advanced', 'Grad'], dtype=object)

In [69]:
# sort the courselevel
CourseLevel_order = ['Introductory', 'Intermediate', 'Advanced', 'Grad']
df_f23['CourseLevel'] = pd.Categorical(df_f23['CourseLevel'], categories=CourseLevel_order, ordered=True)
df_f23 = df_f23.sort_values('CourseLevel')
print(df_f23.shape)
df_f23

(60, 18)

,CourseName,Sex Female,Sex Male,First Gen? Yes,First Gen? No/Unreported,HUG? Yes,HUG? No,Race/Ethnicity American Indian or Alaska Native,Race/Ethnicity Asian,Race/Ethnicity Black or African American,Race/Ethnicity Hispanic or Latino,Race/Ethnicity Non-Resident Alien,Race/Ethnicity Race/Ethnicity Unknown,Race/Ethnicity Two or More Races,Race/Ethnicity White,Race/Ethnicity Total Enrollment,courseID,CourseLevel
0,CSCI0020 S01,89,116,19,186,38,167,1,15,15,22,29,8,18,97,205,20,Introductory
1,CSCI0081 S01,0,2,1,1,0,2,0,0,0,0,1,0,0,1,2,81,Introductory
2,CSCI0111 S01,50,86,13,123,19,117,0,27,4,15,16,4,14,56,136,111,Introductory
3,CSCI0111 S02,8,8,2,14,2,14,1,0,0,1,5,1,2,6,16,111,Introductory
4,CSCI0112 S01,13,12,9,16,7,18,0,4,2,5,5,0,1,8,25,112,Introductory
5,CSCI0150 S01,169,214,59,324,70,313,1,125,22,47,76,13,25,74,383,150,Introductory
6,CSCI0170 S01,38,81,12,107,17,102,0,54,8,9,13,3,6,26,119,170,Introductory
7,CSCI0190 S01,7,48,4,51,3,52,0,23,0,3,10,2,4,13,55,190,Introductory
8,CSCI0200 S01,22,37,10,49,6,53,0,17,2,4,16,1,6,13,59,200,Introductory
9,CSCI0200 S02,12,11,5,18,3,20,0,4,1,2,5,2,2,7,23,200,Introductory
11,CSCI0320 S02,3,1,0,4,1,3,0,2,1,0,0,0,0,1,4,320,Intermediate
14,CSCI1010 S01,19,53,4,68,4,68,0,20,1,3,16,0,4,28,72,1010,Intermediate
10,CSCI0320 S01,64,90,18,136,30,124,0,51,15,15,30,4,14,25,154,320,Intermediate
12,CSCI0330 S01,55,119,35,139,33,141,0,54,13,20,28,4,13,42,174,330,Intermediate
13,CSCI0330 S02,8,9,2,15,3,14,0,6,2,1,2,0,2,4,17,330,Intermediate
41,CSCI1805 S02,5,7,1,11,2,10,0,4,1,1,0,0,0,6,12,1805,Advanced
42,CSCI1810 S01,23,27,4,46,5,45,0,23,3,2,10,1,2,9,50,1810,Advanced
36,CSCI1680 S01,21,85,7,99,13,93,1,29,3,9,40,5,2,17,106,1680,Advanced
37,CSCI1680 S02,9,12,3,18,5,16,0,9,2,3,5,1,0,1,21,1680,Advanced
38,CSCI1730 S01,22,35,10,47,9,48,0,11,0,9,16,1,2,18,57,1730,Advanced
39,CSCI1760 S01,9,33,0,42,3,39,0,7,1,2,21,2,0,9,42,1760,Advanced
34,CSCI1600 S01,16,37,6,47,10,43,0,12,4,6,9,0,7,15,53,1600,Advanced
43,CSCI1860 S01,12,10,2,20,3,19,0,3,0,3,6,2,4,4,22,1860,Advanced
52,CSCI1952C S01,2,11,0,13,0,13,0,2,0,0,7,0,0,4,13,1952,Advanced
45,CSCI1870 S02,6,7,0,13,3,10,0,1,2,1,0,1,2,6,13,1870,Advanced
46,CSCI1950N S01,8,9,2,15,4,13,0,4,1,3,3,0,0,6,17,1950,Advanced
47,CSCI1950T S01,6,2,0,8,1,7,0,3,0,1,0,0,0,4,8,1950,Advanced
48,CSCI1951C S01,9,6,1,14,1,14,0,4,0,1,7,0,0,3,15,1951,Advanced
49,CSCI1951R S01,13,26,1,38,1,38,0,9,0,1,17,1,4,7,39,1951,Advanced
35,CSCI1650 S01,58,134,19,173,22,170,0,48,8,14,62,3,6,51,192,1650,Advanced
44,CSCI1870 S01,26,15,5,36,10,31,0,8,2,8,7,1,3,12,41,1870,Advanced
51,CSCI1951X S01,5,18,2,21,0,23,0,9,0,0,5,2,1,6,23,1951,Advanced
40,CSCI1805 S01,53,76,18,111,29,100,0,35,12,17,18,2,6,39,129,1805,Advanced
50,CSCI1951V S01,20,20,10,30,7,33,0,11,2,5,13,0,1,8,40,1951,Advanced
30,CSCI1450 S01,8,26,4,30,4,30,0,7,0,4,17,1,0,5,34,1450,Advanced
20,CSCI1270 S01,20,61,5,76,5,76,0,29,3,2,35,1,2,9,81,1270,Advanced
21,CSCI1270 S02,1,1,0,2,1,1,0,0,1,0,0,0,0,1,2,1270,Advanced
15,CSCI1230 S01,31,68,8,91,10,89,0,31,4,6,26,0,10,22,99,1230,Advanced
16,CSCI1230 S02,3,14,1,16,3,14,0,5,1,2,7,1,0,1,17,1230,Advanced
17,CSCI1234 S01,0,5,0,5,0,5,0,2,0,0,2,0,1,0,5,1234,Advanced
18,CSCI1260 S01,11,43,3,51,3,51,0,16,1,2,17,2,1,15,54,1260,Advanced
29,CSCI1410 S02,36,71,12,95,12,95,0,39,2,10,17,1,8,30,107,1410,Advanced
33,CSCI1570 S01,13,50,5,58,7,56,0,20,3,4,18,2,4,12,63,1570,Advanced
22,CSCI1290 S01,18,23,3,38,4,37,0,10,0,4,16,0,4,7,41,1290,Advanced
19,CSCI1260 S02,4,5,0,9,1,8,0,6,1,0,0,0,2,0,9,1260,Advanced
24,CSCI1330 S02,4,2,0,6,2,4,0,0,1,1,3,0,0,1,6,1330,Advanced
25,CSCI1340 S01,0,1,0,1,0,1,0,0,0,0,0,0,0,1,1,1340,Advanced
26,CSCI1340 S02,0,1,0,1,0,1,0,0,0,0,1,0,0,0,1,1340,Advanced
27,CSCI1360 S01,10,15,4,21,4,21,0,7,3,1,7,1,1,5,25,1360,Advanced
28,CSCI1360 S02,5,2,0,7,3,4,0,1,2,1,1,1,1,0,7,1360,Advanced
32,CSCI1510 S01,4,14,0,18,0,18,0,4,0,0,8,0,0,6,18,1510,Advanced
23,CSCI1330 S01,7,12,0,19,2,17,0,1,2,0,15,1,0,0,19,1330,Advanced
31,CSCI1460 S01,38,93,18,113,13,118,0,38,3,10,43,2,2,33,131,1460,Advanced
56,CSCI2590 S01,5,7,1,11,1,11,0,0,1,0,7,1,0,3,12,2590,Grad
57,CSCI2810 S01,6,7,0,13,3,10,0,1,1,2,3,0,1,5,13,2810,Grad
58,CSCI2952G S01,19,53,8,64,5,67,0,27,2,3,20,3,3,14,72,2952,Grad
53,CSCI2230 S01,4,16,2,18,1,19,0,2,1,0,12,1,1,3,20,2230,Grad
54,CSCI2230 S02,1,2,0,3,1,2,0,1,0,1,0,0,1,0,3,2230,Grad
55,CSCI2390 S01,19,45,1,63,2,62,0,13,0,2,34,1,2,12,64,2390,Grad
59,CSCI2952Q S01,1,36,1,36,0,37,0,11,0,0,13,1,1,11,37,2952,Grad

In [72]:
# Assuming df_f23 is your initial DataFrame
print("Unique CourseLevels:", df_f23['CourseLevel'].nunique())
print("Unique CourseNames:", df_f23['CourseName'].nunique())

# Check unique combinations of CourseLevel and CourseName
unique_combinations = df_f23.drop_duplicates(subset=['CourseLevel', 'CourseName'])
print("Unique combinations of CourseLevel and CourseName:", unique_combinations.shape[0])

Unique CourseLevels: 4
Unique CourseNames: 60
Unique combinations of CourseLevel and CourseName: 60

In [80]:
df_f23_percent = df_f23.copy().drop(['courseID'], axis=1) # drop the courseID which is used for calculation
# df_f23_percent = df_f23_percent.groupby(['CourseLevel', 'CourseName']).mean()
df_f23_percent = df_f23_percent.set_index(['CourseLevel', 'CourseName'])
print(df_f23_percent.shape)
df_f23_percent.head()

(60, 15)

                           Sex Female  Sex Male  First Gen? Yes  \
CourseLevel  CourseName
Introductory CSCI0020 S01          89       116              19
             CSCI0081 S01           0         2               1
             CSCI0111 S01          50        86              13
             CSCI0111 S02           8         8               2
             CSCI0112 S01          13        12               9

                           First Gen? No/Unreported  HUG? Yes  HUG? No  \
CourseLevel  CourseName
Introductory CSCI0020 S01                       186        38      167
             CSCI0081 S01                         1         0        2
             CSCI0111 S01                       123        19      117
             CSCI0111 S02                        14         2       14
             CSCI0112 S01                        16         7       18

                           Race/Ethnicity American Indian or Alaska Native  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                                1
             CSCI0081 S01                                                0
             CSCI0111 S01                                                0
             CSCI0111 S02                                                1
             CSCI0112 S01                                                0

                           Race/Ethnicity Asian  \
CourseLevel  CourseName
Introductory CSCI0020 S01                    15
             CSCI0081 S01                     0
             CSCI0111 S01                    27
             CSCI0111 S02                     0
             CSCI0112 S01                     4

                           Race/Ethnicity Black or African American  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                        15
             CSCI0081 S01                                         0
             CSCI0111 S01                                         4
             CSCI0111 S02                                         0
             CSCI0112 S01                                         2

                           Race/Ethnicity Hispanic or Latino  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                 22
             CSCI0081 S01                                  0
             CSCI0111 S01                                 15
             CSCI0111 S02                                  1
             CSCI0112 S01                                  5

                           Race/Ethnicity Non-Resident Alien  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                 29
             CSCI0081 S01                                  1
             CSCI0111 S01                                 16
             CSCI0111 S02                                  5
             CSCI0112 S01                                  5

                           Race/Ethnicity Race/Ethnicity Unknown  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                      8
             CSCI0081 S01                                      0
             CSCI0111 S01                                      4
             CSCI0111 S02                                      1
             CSCI0112 S01                                      0

                           Race/Ethnicity Two or More Races  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                18
             CSCI0081 S01                                 0
             CSCI0111 S01                                14
             CSCI0111 S02                                 2
             CSCI0112 S01                                 1

                           Race/Ethnicity White  \
CourseLevel  CourseName
Introductory CSCI0020 S01                    97
             CSCI0081 S01                     1
             CSCI0111 S01                    56
             CSCI0111 S02                     6
             CSCI0112 S01                     8

                           Race/Ethnicity Total Enrollment
CourseLevel  CourseName
Introductory CSCI0020 S01                              205
             CSCI0081 S01                                2
             CSCI0111 S01                              136
             CSCI0111 S02                               16
             CSCI0112 S01                               25

In [81]:
# convert to percentage
for column in df_f23_percent.columns:
    if column != 'Race/Ethnicity Total Enrollment':
        df_f23_percent[column] = ((df_f23_percent[column] / df_f23_percent['Race/Ethnicity Total Enrollment']) * 100).round(2)
df_f23_percent.head()

                           Sex Female  Sex Male  First Gen? Yes  \
CourseLevel  CourseName
Introductory CSCI0020 S01       43.41     56.59            9.27
             CSCI0081 S01        0.00    100.00           50.00
             CSCI0111 S01       36.76     63.24            9.56
             CSCI0111 S02       50.00     50.00           12.50
             CSCI0112 S01       52.00     48.00           36.00

                           First Gen? No/Unreported  HUG? Yes  HUG? No  \
CourseLevel  CourseName
Introductory CSCI0020 S01                     90.73     18.54    81.46
             CSCI0081 S01                     50.00      0.00   100.00
             CSCI0111 S01                     90.44     13.97    86.03
             CSCI0111 S02                     87.50     12.50    87.50
             CSCI0112 S01                     64.00     28.00    72.00

                           Race/Ethnicity American Indian or Alaska Native  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                             0.49
             CSCI0081 S01                                             0.00
             CSCI0111 S01                                             0.00
             CSCI0111 S02                                             6.25
             CSCI0112 S01                                             0.00

                           Race/Ethnicity Asian  \
CourseLevel  CourseName
Introductory CSCI0020 S01                  7.32
             CSCI0081 S01                  0.00
             CSCI0111 S01                 19.85
             CSCI0111 S02                  0.00
             CSCI0112 S01                 16.00

                           Race/Ethnicity Black or African American  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                      7.32
             CSCI0081 S01                                      0.00
             CSCI0111 S01                                      2.94
             CSCI0111 S02                                      0.00
             CSCI0112 S01                                      8.00

                           Race/Ethnicity Hispanic or Latino  \
CourseLevel  CourseName
Introductory CSCI0020 S01                              10.73
             CSCI0081 S01                               0.00
             CSCI0111 S01                              11.03
             CSCI0111 S02                               6.25
             CSCI0112 S01                              20.00

                           Race/Ethnicity Non-Resident Alien  \
CourseLevel  CourseName
Introductory CSCI0020 S01                              14.15
             CSCI0081 S01                              50.00
             CSCI0111 S01                              11.76
             CSCI0111 S02                              31.25
             CSCI0112 S01                              20.00

                           Race/Ethnicity Race/Ethnicity Unknown  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                   3.90
             CSCI0081 S01                                   0.00
             CSCI0111 S01                                   2.94
             CSCI0111 S02                                   6.25
             CSCI0112 S01                                   0.00

                           Race/Ethnicity Two or More Races  \
CourseLevel  CourseName
Introductory CSCI0020 S01                              8.78
             CSCI0081 S01                              0.00
             CSCI0111 S01                             10.29
             CSCI0111 S02                             12.50
             CSCI0112 S01                              4.00

                           Race/Ethnicity White  \
CourseLevel  CourseName
Introductory CSCI0020 S01                 47.32
             CSCI0081 S01                 50.00
             CSCI0111 S01                 41.18
             CSCI0111 S02                 37.50
             CSCI0112 S01                 32.00

                           Race/Ethnicity Total Enrollment
CourseLevel  CourseName
Introductory CSCI0020 S01                              205
             CSCI0081 S01                                2
             CSCI0111 S01                              136
             CSCI0111 S02                               16
             CSCI0112 S01                               25

In [82]:
print(df_f23_percent.shape)

(60, 15)

In [83]:
df_f23_percent.to_csv('results/demographic.csv', index=True)