In [1]:
import pandas as pd
import numpy as np

Read the sheets in excel

In [29]:
file_path = 'data/Course Demographics Example.xlsx'

all_sheets = pd.read_excel(file_path, sheet_name=None, skiprows=1, header=[0, 1])
processed_dataframe = {}

for sheet_name, data in all_sheets.items():
    print(f"--------Processing sheet: {sheet_name}--------")
    processed_dataframe[sheet_name] = data
    print(data.head(1))

--------Processing sheet: Spring 2023--------
  Unnamed: 0_level_0    Sex             First Gen?               HUG?      \
  Unnamed: 0_level_1 Female Male Male.1        Yes No/Unreported  Yes  No
0       CSCI0081 S01      5   10      0          3            12    3  12

                    Race/Ethnicity                                  \
  American Indian or Alaska Native Asian Black or African American
0                                0     2                         1

                                                                \
  Hispanic or Latino Non-Resident Alien Race/Ethnicity Unknown
0                  2                  3                      0


  Two or More Races White Total Enrollment
0                 1     6               15
--------Processing sheet: Fall 2023--------
  Unnamed: 0_level_0    Sex      First Gen?               HUG?       \
  Unnamed: 0_level_1 Female Male        Yes No/Unreported  Yes   No
0       CSCI0020 S01     89  116         19           186   38  167

                    Race/Ethnicity                                  \
  American Indian or Alaska Native Asian Black or African American
0                                1    15                        15

                                                                \
  Hispanic or Latino Non-Resident Alien Race/Ethnicity Unknown
0                 22                 29                      8


  Two or More Races White Total Enrollment
0                18    97              205
--------Processing sheet: Spring 2024--------
  Unnamed: 0_level_0    Sex      First Gen?               HUG?     \
  Unnamed: 0_level_1 Female Male        Yes No/Unreported  Yes No
0       CSCI0081 S01      4    3          1             6    0  7

                    Race/Ethnicity                                  \
  American Indian or Alaska Native Asian Black or African American
0                                0     4                         0

                                                                \
  Hispanic or Latino Native Hawaiian or Other Pacific Islander
0                  0                                         0

                                                                     \
  Non-Resident Alien Race/Ethnicity Unknown Two or More Races White
0                  1                      0                 0     2


  Total Enrollment
0                7

In [30]:
df_f23 = processed_dataframe['Fall 2023']
new_header = [f'{i} {j}' if i != j else f'{i}' for i, j in df_f23.columns]
df_f23.columns = new_header
df_f23.columns.values[0] = 'CourseName'
df_f23 = df_f23.drop(df_f23.index[-1])
df_f23.head()

,CourseName,Sex Female,Sex Male,First Gen? Yes,First Gen? No/Unreported,HUG? Yes,HUG? No,Race/Ethnicity American Indian or Alaska Native,Race/Ethnicity Asian,Race/Ethnicity Black or African American,Race/Ethnicity Hispanic or Latino,Race/Ethnicity Non-Resident Alien,Race/Ethnicity Race/Ethnicity Unknown,Race/Ethnicity Two or More Races,Race/Ethnicity White,Race/Ethnicity Total Enrollment
0,CSCI0020 S01,89,116,19,186,38,167,1,15,15,22,29,8,18,97,205
1,CSCI0081 S01,0,2,1,1,0,2,0,0,0,0,1,0,0,1,2
2,CSCI0111 S01,50,86,13,123,19,117,0,27,4,15,16,4,14,56,136
3,CSCI0111 S02,8,8,2,14,2,14,1,0,0,1,5,1,2,6,16
4,CSCI0112 S01,13,12,9,16,7,18,0,4,2,5,5,0,1,8,25

In [35]:
df_f23['courseID'] = df_f23['CourseName'].str.extract(r'(\d+)').astype(int)
df_f23.head()

,CourseName,Sex Female,Sex Male,First Gen? Yes,First Gen? No/Unreported,HUG? Yes,HUG? No,Race/Ethnicity American Indian or Alaska Native,Race/Ethnicity Asian,Race/Ethnicity Black or African American,Race/Ethnicity Hispanic or Latino,Race/Ethnicity Non-Resident Alien,Race/Ethnicity Race/Ethnicity Unknown,Race/Ethnicity Two or More Races,Race/Ethnicity White,Race/Ethnicity Total Enrollment,courseID
0,CSCI0020 S01,89,116,19,186,38,167,1,15,15,22,29,8,18,97,205,20
1,CSCI0081 S01,0,2,1,1,0,2,0,0,0,0,1,0,0,1,2,81
2,CSCI0111 S01,50,86,13,123,19,117,0,27,4,15,16,4,14,56,136,111
3,CSCI0111 S02,8,8,2,14,2,14,1,0,0,1,5,1,2,6,16,111
4,CSCI0112 S01,13,12,9,16,7,18,0,4,2,5,5,0,1,8,25,112

In [37]:
# categorize courses
def categorize_course(course_id):
    # Extract the numeric part of the CourseID assuming the format is always the same
    # and the number is at the end
    #course_number = int(course_id.split()[-1])
    
    # Define the conditions for categorizing courses
    if course_id <= 200:
        return 'Introductory'
    elif 220 <= course_id <= 1010:
        return 'Intermediate'
    elif 1010 < course_id < 2000:
        return 'Advanced'
    else:
        return 'Grad'

In [38]:
df_f23['CourseLevel'] = df_f23['courseID'].apply(categorize_course)
df_f23.head()

,CourseName,Sex Female,Sex Male,First Gen? Yes,First Gen? No/Unreported,HUG? Yes,HUG? No,Race/Ethnicity American Indian or Alaska Native,Race/Ethnicity Asian,Race/Ethnicity Black or African American,Race/Ethnicity Hispanic or Latino,Race/Ethnicity Non-Resident Alien,Race/Ethnicity Race/Ethnicity Unknown,Race/Ethnicity Two or More Races,Race/Ethnicity White,Race/Ethnicity Total Enrollment,courseID,CourseLevel
0,CSCI0020 S01,89,116,19,186,38,167,1,15,15,22,29,8,18,97,205,20,Introductory
1,CSCI0081 S01,0,2,1,1,0,2,0,0,0,0,1,0,0,1,2,81,Introductory
2,CSCI0111 S01,50,86,13,123,19,117,0,27,4,15,16,4,14,56,136,111,Introductory
3,CSCI0111 S02,8,8,2,14,2,14,1,0,0,1,5,1,2,6,16,111,Introductory
4,CSCI0112 S01,13,12,9,16,7,18,0,4,2,5,5,0,1,8,25,112,Introductory

In [40]:
df_f23.columns

Index(['CourseName', 'Sex Female', 'Sex Male', 'First Gen? Yes',
       'First Gen? No/Unreported', 'HUG? Yes', 'HUG? No',
       'Race/Ethnicity American Indian or Alaska Native',
       'Race/Ethnicity Asian', 'Race/Ethnicity Black or African American',
       'Race/Ethnicity Hispanic or Latino',
       'Race/Ethnicity Non-Resident Alien',
       'Race/Ethnicity Race/Ethnicity Unknown',
       'Race/Ethnicity Two or More Races', 'Race/Ethnicity White',
       'Race/Ethnicity Total Enrollment', 'courseID', 'CourseLevel'],
      dtype='object')

In [42]:
df_f23[['CourseLevel', 'CourseName', 'Sex Female', 'Sex Male', 'First Gen? Yes',
       'First Gen? No/Unreported', 'HUG? Yes', 'HUG? No',
       'Race/Ethnicity American Indian or Alaska Native',
       'Race/Ethnicity Asian', 'Race/Ethnicity Black or African American',
       'Race/Ethnicity Hispanic or Latino',
       'Race/Ethnicity Non-Resident Alien',
       'Race/Ethnicity Race/Ethnicity Unknown',
       'Race/Ethnicity Two or More Races', 'Race/Ethnicity White',
       'Race/Ethnicity Total Enrollment']].head()

,CourseLevel,CourseName,Sex Female,Sex Male,First Gen? Yes,First Gen? No/Unreported,HUG? Yes,HUG? No,Race/Ethnicity American Indian or Alaska Native,Race/Ethnicity Asian,Race/Ethnicity Black or African American,Race/Ethnicity Hispanic or Latino,Race/Ethnicity Non-Resident Alien,Race/Ethnicity Race/Ethnicity Unknown,Race/Ethnicity Two or More Races,Race/Ethnicity White,Race/Ethnicity Total Enrollment
0,Introductory,CSCI0020 S01,89,116,19,186,38,167,1,15,15,22,29,8,18,97,205
1,Introductory,CSCI0081 S01,0,2,1,1,0,2,0,0,0,0,1,0,0,1,2
2,Introductory,CSCI0111 S01,50,86,13,123,19,117,0,27,4,15,16,4,14,56,136
3,Introductory,CSCI0111 S02,8,8,2,14,2,14,1,0,0,1,5,1,2,6,16
4,Introductory,CSCI0112 S01,13,12,9,16,7,18,0,4,2,5,5,0,1,8,25

In [59]:
df_f23['CourseLevel'].unique()

array(['Introductory', 'Intermediate', 'Advanced', 'Grad'], dtype=object)

In [61]:
# sort the courselevel
CourseLevel_order = ['Introductory', 'Intermediate', 'Advanced', 'Grad']
df_f23['CourseLevel'] = pd.Categorical(df_f23['CourseLevel'], categories=CourseLevel_order, ordered=True)
df_f23 = df_f23.sort_values('CourseLevel')
df_f23.head()

,CourseName,Sex Female,Sex Male,First Gen? Yes,First Gen? No/Unreported,HUG? Yes,HUG? No,Race/Ethnicity American Indian or Alaska Native,Race/Ethnicity Asian,Race/Ethnicity Black or African American,Race/Ethnicity Hispanic or Latino,Race/Ethnicity Non-Resident Alien,Race/Ethnicity Race/Ethnicity Unknown,Race/Ethnicity Two or More Races,Race/Ethnicity White,Race/Ethnicity Total Enrollment,courseID,CourseLevel
0,CSCI0020 S01,89,116,19,186,38,167,1,15,15,22,29,8,18,97,205,20,Introductory
1,CSCI0081 S01,0,2,1,1,0,2,0,0,0,0,1,0,0,1,2,81,Introductory
2,CSCI0111 S01,50,86,13,123,19,117,0,27,4,15,16,4,14,56,136,111,Introductory
3,CSCI0111 S02,8,8,2,14,2,14,1,0,0,1,5,1,2,6,16,111,Introductory
4,CSCI0112 S01,13,12,9,16,7,18,0,4,2,5,5,0,1,8,25,112,Introductory

In [62]:
df_f23_percent = df_f23.copy().drop(['courseID'], axis=1) # drop the courseID which is used for calculation
df_f23_percent = df_f23_percent.groupby(['CourseLevel', 'CourseName']).sum()
df_f23_percent.head()

                           Sex Female  Sex Male  First Gen? Yes  \
CourseLevel  CourseName
Introductory CSCI0020 S01          89       116              19
             CSCI0081 S01           0         2               1
             CSCI0111 S01          50        86              13
             CSCI0111 S02           8         8               2
             CSCI0112 S01          13        12               9

                           First Gen? No/Unreported  HUG? Yes  HUG? No  \
CourseLevel  CourseName
Introductory CSCI0020 S01                       186        38      167
             CSCI0081 S01                         1         0        2
             CSCI0111 S01                       123        19      117
             CSCI0111 S02                        14         2       14
             CSCI0112 S01                        16         7       18

                           Race/Ethnicity American Indian or Alaska Native  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                                1
             CSCI0081 S01                                                0
             CSCI0111 S01                                                0
             CSCI0111 S02                                                1
             CSCI0112 S01                                                0

                           Race/Ethnicity Asian  \
CourseLevel  CourseName
Introductory CSCI0020 S01                    15
             CSCI0081 S01                     0
             CSCI0111 S01                    27
             CSCI0111 S02                     0
             CSCI0112 S01                     4

                           Race/Ethnicity Black or African American  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                        15
             CSCI0081 S01                                         0
             CSCI0111 S01                                         4
             CSCI0111 S02                                         0
             CSCI0112 S01                                         2

                           Race/Ethnicity Hispanic or Latino  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                 22
             CSCI0081 S01                                  0
             CSCI0111 S01                                 15
             CSCI0111 S02                                  1
             CSCI0112 S01                                  5

                           Race/Ethnicity Non-Resident Alien  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                 29
             CSCI0081 S01                                  1
             CSCI0111 S01                                 16
             CSCI0111 S02                                  5
             CSCI0112 S01                                  5

                           Race/Ethnicity Race/Ethnicity Unknown  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                      8
             CSCI0081 S01                                      0
             CSCI0111 S01                                      4
             CSCI0111 S02                                      1
             CSCI0112 S01                                      0

                           Race/Ethnicity Two or More Races  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                18
             CSCI0081 S01                                 0
             CSCI0111 S01                                14
             CSCI0111 S02                                 2
             CSCI0112 S01                                 1

                           Race/Ethnicity White  \
CourseLevel  CourseName
Introductory CSCI0020 S01                    97
             CSCI0081 S01                     1
             CSCI0111 S01                    56
             CSCI0111 S02                     6
             CSCI0112 S01                     8

                           Race/Ethnicity Total Enrollment
CourseLevel  CourseName
Introductory CSCI0020 S01                              205
             CSCI0081 S01                                2
             CSCI0111 S01                              136
             CSCI0111 S02                               16
             CSCI0112 S01                               25

In [63]:
# convert to percentage
for column in df_f23_percent.columns:
    if column != 'Race/Ethnicity Total Enrollment':
        df_f23_percent[column] = ((df_f23_percent[column] / df_f23_percent['Race/Ethnicity Total Enrollment']) * 100).round(2)
df_f23_percent.head()

                           Sex Female  Sex Male  First Gen? Yes  \
CourseLevel  CourseName
Introductory CSCI0020 S01       43.41     56.59            9.27
             CSCI0081 S01        0.00    100.00           50.00
             CSCI0111 S01       36.76     63.24            9.56
             CSCI0111 S02       50.00     50.00           12.50
             CSCI0112 S01       52.00     48.00           36.00

                           First Gen? No/Unreported  HUG? Yes  HUG? No  \
CourseLevel  CourseName
Introductory CSCI0020 S01                     90.73     18.54    81.46
             CSCI0081 S01                     50.00      0.00   100.00
             CSCI0111 S01                     90.44     13.97    86.03
             CSCI0111 S02                     87.50     12.50    87.50
             CSCI0112 S01                     64.00     28.00    72.00

                           Race/Ethnicity American Indian or Alaska Native  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                             0.49
             CSCI0081 S01                                             0.00
             CSCI0111 S01                                             0.00
             CSCI0111 S02                                             6.25
             CSCI0112 S01                                             0.00

                           Race/Ethnicity Asian  \
CourseLevel  CourseName
Introductory CSCI0020 S01                  7.32
             CSCI0081 S01                  0.00
             CSCI0111 S01                 19.85
             CSCI0111 S02                  0.00
             CSCI0112 S01                 16.00

                           Race/Ethnicity Black or African American  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                      7.32
             CSCI0081 S01                                      0.00
             CSCI0111 S01                                      2.94
             CSCI0111 S02                                      0.00
             CSCI0112 S01                                      8.00

                           Race/Ethnicity Hispanic or Latino  \
CourseLevel  CourseName
Introductory CSCI0020 S01                              10.73
             CSCI0081 S01                               0.00
             CSCI0111 S01                              11.03
             CSCI0111 S02                               6.25
             CSCI0112 S01                              20.00

                           Race/Ethnicity Non-Resident Alien  \
CourseLevel  CourseName
Introductory CSCI0020 S01                              14.15
             CSCI0081 S01                              50.00
             CSCI0111 S01                              11.76
             CSCI0111 S02                              31.25
             CSCI0112 S01                              20.00

                           Race/Ethnicity Race/Ethnicity Unknown  \
CourseLevel  CourseName
Introductory CSCI0020 S01                                   3.90
             CSCI0081 S01                                   0.00
             CSCI0111 S01                                   2.94
             CSCI0111 S02                                   6.25
             CSCI0112 S01                                   0.00

                           Race/Ethnicity Two or More Races  \
CourseLevel  CourseName
Introductory CSCI0020 S01                              8.78
             CSCI0081 S01                              0.00
             CSCI0111 S01                             10.29
             CSCI0111 S02                             12.50
             CSCI0112 S01                              4.00

                           Race/Ethnicity White  \
CourseLevel  CourseName
Introductory CSCI0020 S01                 47.32
             CSCI0081 S01                 50.00
             CSCI0111 S01                 41.18
             CSCI0111 S02                 37.50
             CSCI0112 S01                 32.00

                           Race/Ethnicity Total Enrollment
CourseLevel  CourseName
Introductory CSCI0020 S01                              205
             CSCI0081 S01                                2
             CSCI0111 S01                              136
             CSCI0111 S02                               16
             CSCI0112 S01                               25