In [1]:
import pandas as pd
import numpy as np

In [21]:
file_path = 'data/Percentage Project Example.xlsx'
dfs = pd.read_excel(file_path, sheet_name=None)

In [6]:
dfs

{'Summary':                   Q1.What year are you in?           Unnamed: 1
 0                           Answer Choices  Response Percentage
 1                               First year               36.84%
 2                                Sophomore               33.83%
 3                                   Junior               14.29%
 4                                   Senior               12.03%
 ..                                     ...                  ...
 220  Q29.Are you an international student?                  NaN
 221                         Answer Choices  Response Percentage
 222                                    Yes               21.80%
 223                                     No               77.44%
 224                      Prefer not to say                0.75%

 [225 rows x 2 columns],
 'Gender':                            Gender Demographic Analysis  \
 0    * Note: Some demographic groups had less than ...
 1     Q3.Check all of the following that apply to you:
 2                                                  NaN
 3                                                Woman
 4                                                  Man
 ..                                                 ...
 147                                              Woman
 148                                                Man
 149                                         Non-binary
 150                           Prefer to self-describe:
 151                                  Prefer not to say

                                             Unnamed: 1  \
 0                                                  NaN
 1                                                  NaN
 2    I feel pressure at Brown to find internships, ...
 3                                               86.44%
 4                                               68.57%
 ..                                                 ...
 147                                             66.67%
 148                                             43.10%
 149                                                  *
 150                                                  *
 151                                                  *

                                             Unnamed: 2  \
 0                                                  NaN
 1                                                  NaN
 2    I feel confident studying computer science and...
 3                                               30.51%
 4                                               75.71%
 ..                                                 ...
 147                                             29.41%
 148                                             37.93%
 149                                                  *
 150                                                  *
 151                                                  *

                                             Unnamed: 3         Unnamed: 4  \
 0                                                  NaN                NaN
 1                                                  NaN                NaN
 2    I feel intimidated studying Computer Science a...  None of the above
 3                                               69.49%              1.69%
 4                                               41.43%              1.43%
 ..                                                 ...                ...
 147                                              3.92%                NaN
 148                                             18.97%                NaN
 149                                                  *                NaN
 150                                                  *                NaN
 151                                                  *                NaN

     Unnamed: 5 Unnamed: 6 Unnamed: 7
 0          NaN        NaN        NaN
 1          NaN        NaN        NaN
 2          NaN        NaN        NaN
 3          NaN        NaN        NaN
 4          NaN        NaN        NaN
 ..         ...        ...        ...
 147        NaN        NaN        NaN
 148        NaN        NaN        NaN
 149        NaN        NaN        NaN
 150        NaN        NaN        NaN
 151        NaN        NaN        NaN

 [152 rows x 8 columns],
 'Race&Ethnicity':                    Race&Ethnicity Demographic Analysis  \
 0    * Note: Some demographic groups had less than ...
 1     Q3.Check all of the following that apply to you:
 2                                                  NaN
 3                               African American/Black
 4                                                Asian
 ..                                                 ...
 242          Native Hawaiian or other Pacific Islander
 243                                              White
 244                           Prefer to self-describe:
 245                                  Prefer not to say
 246                                              Mixed

                                             Unnamed: 1  \
 0                                                  NaN
 1                                                  NaN
 2    I feel pressure at Brown to find internships, ...
 3                                               57.14%
 4                                               85.00%
 ..                                                 ...
 242                                                  *
 243                                             55.00%
 244                                                  *
 245                                                  *
 246                                             54.17%

                                             Unnamed: 2  \
 0                                                  NaN
 1                                                  NaN
 2    I feel confident studying computer science and...
 3                                               28.57%
 4                                               45.00%
 ..                                                 ...
 242                                                  *
 243                                             27.50%
 244                                                  *
 245                                                  *
 246                                             25.00%

                                             Unnamed: 3         Unnamed: 4  \
 0                                                  NaN                NaN
 1                                                  NaN                NaN
 2    I feel intimidated studying Computer Science a...  None of the above
 3                                               71.43%              0.00%
 4                                               60.00%              5.00%
 ..                                                 ...                ...
 242                                                  *                NaN
 243                                             17.50%                NaN
 244                                                  *                NaN
 245                                                  *                NaN
 246                                             20.83%                NaN

     Unnamed: 5 Unnamed: 6 Unnamed: 7
 0          NaN        NaN        NaN
 1          NaN        NaN        NaN
 2          NaN        NaN        NaN
 3          NaN        NaN        NaN
 4          NaN        NaN        NaN
 ..         ...        ...        ...
 242        NaN        NaN        NaN
 243        NaN        NaN        NaN
 244        NaN        NaN        NaN
 245        NaN        NaN        NaN
 246        NaN        NaN        NaN

 [247 rows x 8 columns],
 'Disability':                        Disability Demographic Analysis  \
 0    * Note: Some demographic groups had less than ...
 1     Q3.Check all of the following that apply to you:
 2                                                  NaN
 3                               Person with disability
 4                             Person without diability
 ..                                                 ...
 109  Q21.Have you or someone you know been sexually...
 110                                                NaN
 111                             Person with disability
 112                           Person without diability
 113                                  Prefer not to say

                                             Unnamed: 1  \
 0                                                  NaN
 1                                                  NaN
 2    I feel pressure at Brown to find internships, ...
 3                                               90.00%
 4                                               75.63%
 ..                                                 ...
 109                                                NaN
 110                                                Yes
 111                                             55.56%
 112                                             54.00%
 113                                                  *

                                             Unnamed: 2  \
 0                                                  NaN
 1                                                  NaN
 2    I feel confident studying computer science and...
 3                                               40.00%
 4                                               57.98%
 ..                                                 ...
 109                                                NaN
 110                                                 No
 111                                             44.44%
 112                                             33.00%
 113                                                  *

                                             Unnamed: 3         Unnamed: 4  \
 0                                                  NaN                NaN
 1                                                  NaN                NaN
 2    I feel intimidated studying Computer Science a...  None of the above
 3                                               80.00%              0.00%
 4                                               51.26%              1.68%
 ..                                                 ...                ...
 109                                                NaN                NaN
 110                                              Maybe                NaN
 111                                              0.00%                NaN
 112                                             13.00%                NaN
 113                                                  *                NaN

     Unnamed: 5 Unnamed: 6 Unnamed: 7
 0          NaN        NaN        NaN
 1          NaN        NaN        NaN
 2          NaN        NaN        NaN
 3          NaN        NaN        NaN
 4          NaN        NaN        NaN
 ..         ...        ...        ...
 109        NaN        NaN        NaN
 110        NaN        NaN        NaN
 111        NaN        NaN        NaN
 112        NaN        NaN        NaN
 113        NaN        NaN        NaN

 [114 rows x 8 columns],
 'LGBQ+':                            LGBQ+ Demographic Analysis  \
 0   * Note: Some demographic groups had less than ...
 1    Q3.Check all of the following that apply to you:
 2                                                 NaN
 3                               Heterosexual/straight
 4                                               LGBQ+
 ..                                                ...
 90                                                NaN
 91  Q21.Have you or someone you know been sexually...
 92                                                NaN
 93                              Heterosexual/straight
 94                                              LGBQ+

                                            Unnamed: 1  \
 0                                                 NaN
 1                                                 NaN
 2   I feel pressure at Brown to find internships, ...
 3                                              76.67%
 4                                              79.07%
 ..                                                ...
 90                                                NaN
 91                                                NaN
 92                                                Yes
 93                                             44.59%
 94                                             73.68%

                                            Unnamed: 2  \
 0                                                 NaN
 1                                                 NaN
 2   I feel confident studying computer science and...
 3                                              61.11%
 4                                              41.86%
 ..                                                ...
 90                                                NaN
 91                                                NaN
 92                                                 No
 93                                             43.24%
 94                                             15.79%

                                            Unnamed: 3         Unnamed: 4  \
 0                                                 NaN                NaN
 1                                                 NaN                NaN
 2   I feel intimidated studying Computer Science a...  None of the above
 3                                              50.00%              1.11%
 4                                              62.79%              2.33%
 ..                                                ...                ...
 90                                                NaN                NaN
 91                                                NaN                NaN
 92                                              Maybe                NaN
 93                                             12.16%                NaN
 94                                             10.53%                NaN

    Unnamed: 5 Unnamed: 6 Unnamed: 7
 0         NaN        NaN        NaN
 1         NaN        NaN        NaN
 2         NaN        NaN        NaN
 3         NaN        NaN        NaN
 4         NaN        NaN        NaN
 ..        ...        ...        ...
 90        NaN        NaN        NaN
 91        NaN        NaN        NaN
 92        NaN        NaN        NaN
 93        NaN        NaN        NaN
 94        NaN        NaN        NaN

 [95 rows x 8 columns],
 'Transgender':                       Transgender Demographic Analysis  \
 0    * Note: Some demographic groups had less than ...
 1     Q3.Check all of the following that apply to you:
 2                                                  NaN
 3                                          Transgender
 4                                            Cisgender
 ..                                                 ...
 109  Q21.Have you or someone you know been sexually...
 110                                                NaN
 111                                        Transgender
 112                                          Cisgender
 113                                  Prefer not to say

                                             Unnamed: 1  \
 0                                                  NaN
 1                                                  NaN
 2    I feel pressure at Brown to find internships, ...
 3                                                    *
 4                                               76.92%
 ..                                                 ...
 109                                                NaN
 110                                                Yes
 111                                                  *
 112                                             54.55%
 113                                                  *

                                             Unnamed: 2  \
 0                                                  NaN
 1                                                  NaN
 2    I feel confident studying computer science and...
 3                                                    *
 4                                               55.38%
 ..                                                 ...
 109                                                NaN
 110                                                 No
 111                                                  *
 112                                             33.64%
 113                                                  *

                                             Unnamed: 3         Unnamed: 4  \
 0                                                  NaN                NaN
 1                                                  NaN                NaN
 2    I feel intimidated studying Computer Science a...  None of the above
 3                                                    *                  *
 4                                               53.85%              1.54%
 ..                                                 ...                ...
 109                                                NaN                NaN
 110                                              Maybe                NaN
 111                                                  *                NaN
 112                                             11.82%                NaN
 113                                                  *                NaN

     Unnamed: 5 Unnamed: 6 Unnamed: 7
 0          NaN        NaN        NaN
 1          NaN        NaN        NaN
 2          NaN        NaN        NaN
 3          NaN        NaN        NaN
 4          NaN        NaN        NaN
 ..         ...        ...        ...
 109        NaN        NaN        NaN
 110        NaN        NaN        NaN
 111        NaN        NaN        NaN
 112        NaN        NaN        NaN
 113        NaN        NaN        NaN

 [114 rows x 8 columns],
 'First Gen':                         First Gen Demographic Analysis  \
 0    * Note: Some demographic groups had less than ...
 1     Q3.Check all of the following that apply to you:
 2                                                  NaN
 3                             First-generation student
 4                         Not first-generation student
 ..                                                 ...
 109  Q21.Have you or someone you know been sexually...
 110                                                NaN
 111                           First-generation student
 112                       Not first-generation student
 113                                  Prefer not to say

                                             Unnamed: 1  \
 0                                                  NaN
 1                                                  NaN
 2    I feel pressure at Brown to find internships, ...
 3                                               76.47%
 4                                               77.39%
 ..                                                 ...
 109                                                NaN
 110                                                Yes
 111                                             64.29%
 112                                             53.06%
 113                                                  *

                                             Unnamed: 2  \
 0                                                  NaN
 1                                                  NaN
 2    I feel confident studying computer science and...
 3                                               35.29%
 4                                               58.26%
 ..                                                 ...
 109                                                NaN
 110                                                 No
 111                                             35.71%
 112                                             33.67%
 113                                                  *


In [9]:
for sheet_name,_ in dfs.items():
    print(sheet_name)

Summary
Gender
Race&Ethnicity
Disability
LGBQ+
Transgender
First Gen
Low Income
International

In [32]:
df = pd.read_excel(file_path, sheet_name='Gender')

# questions = df.iloc[0]
# response_categories = df.iloc[:, 0]
df.head()

,Gender Demographic Analysis,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,* Note: Some demographic groups had less than ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Q3.Check all of the following that apply to you:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,"I feel pressure at Brown to find internships, ...",I feel confident studying computer science and...,I feel intimidated studying Computer Science a...,None of the above,NaN,NaN,NaN
3,Woman,86.44%,30.51%,69.49%,1.69%,NaN,NaN,NaN
4,Man,68.57%,75.71%,41.43%,1.43%,NaN,NaN,NaN

In [194]:
def extract_data_groups(excel_path, sheet_name):
    # Read the excel file
    df = pd.read_excel(excel_path, sheet_name=sheet_name)
    
    # Dictionary to hold the extracted groups
    groups = {}
    current_key = None
    start_index = None
    
    # Iterate through the DataFrame to find rows with 'Q'
    for index, row in df.iterrows():
        # Check if any cell in the row contains 'Q'
        if row.astype(str).str.contains('Q').any():
            # If we have a previous key, extract the DataFrame slice up to the current row
            if current_key is not None:
                # Extract the group and remove rows/columns with all NaN values
                group_df = df.iloc[start_index:index].dropna(how='all').dropna(axis=1, how='all')
                groups[current_key] = group_df
            
            # Update the current key and start index for the next group
            current_key = row[row.astype(str).str.contains('Q')].values[0]  # Assuming only one 'Q' per key-row
            start_index = index + 1
    
    # Handle the last group if the last row with 'Q' isn't the last row of the DataFrame
    if current_key is not None and start_index < len(df):
        # Extract the group and remove rows/columns with all NaN values
        group_df = df.iloc[start_index:].dropna(how='all').dropna(axis=1, how='all')
        groups[current_key] = group_df
    
    return groups


# Uncomment to test the function
file_path = 'data/Percentage Project Example.xlsx'
data_groups = extract_data_groups(file_path,sheet_name='Gender')
# print(data_groups)

In [195]:
# for key, df in data_groups.items():
#     print(f"Key: {key}, DataFrame Shape: {df.shape}")

In [196]:
# data_groups['Q4.Check all of the following that apply to you:']

In [197]:
def transform_and_transpose(df):
    # Remove the first row and reset the column headers with the next row
    new_header = df.iloc[0]  # This row will become the header.
    df = df[1:]  # Take the data less the header row
    df.columns = new_header  # Set the header row as the df header
    df = df.reset_index(drop=True)

    # Transpose the DataFrame
    df_transposed = df.T  # Transpose the DataFrame
    new_header = df_transposed.iloc[0]  # Grab the first row for the header
    df_transposed = df_transposed[1:]  # Take the data less the header row
    df_transposed.columns = new_header  # Set the header row as the df header
    df_transposed.index.name = None # Remove the index name

    return df_transposed

In [198]:
transform_and_transpose(data_groups['Q4.Check all of the following that apply to you:'])

nan,Woman,Man,Non-binary,Prefer to self-describe:,Prefer not to say
I have experienced microaggression. A microaggression is a comment that subtly and often unconsciously or unintentionally expresses a prejudiced attitude toward a member of a marginalized group.,44.07%,15.71%,*,*,*
I have been interrupted or talked to condescendingly by someone who assumed they knew more.,64.41%,38.57%,*,*,*
"In a group project, my opinion is as respected as that of other group members.",57.63%,77.14%,*,*,*
None of the above,3.39%,8.57%,*,*,*

In [199]:
for key in data_groups.keys():
    data_groups[key] = transform_and_transpose(data_groups[key])

In [200]:
def prepend_question_number_to_df(data_dict):
    # Iterate through each item in the dictionary
    for key, df in data_dict.items():
        # Extract the question number from the key
        question_number = key.split('.')[0]  # Splits on the dot and takes the first part 'Q3', 'Q4', etc.
        
        # Prepend the question number to the first column of the DataFrame
        df.insert(0, 'Question Number', question_number)  # Inserts the question number as the first column
    
    return data_dict

def combine_question_number(df):
    df.reset_index(inplace=True)
    df['Questions'] = df['Question Number'] + '. ' + df['index']
        
    df.drop(['Question Number', 'index'], axis=1, inplace=True)
    return df

In [201]:
process_data = data_groups.copy()
new = prepend_question_number_to_df(data_groups)

In [202]:
for key in new.keys():
    new[key] = combine_question_number(new[key])

In [193]:
combine_question_number(new['Q4.Check all of the following that apply to you:'])

nan,Woman,Man,Non-binary,Prefer to self-describe:,Prefer not to say,Questions
0,44.07%,15.71%,*,*,*,Q4. I have experienced microaggression. A micr...
1,64.41%,38.57%,*,*,*,Q4. I have been interrupted or talked to conde...
2,57.63%,77.14%,*,*,*,"Q4. In a group project, my opinion is as respe..."
3,3.39%,8.57%,*,*,*,Q4. None of the above

In [204]:
# Assuming 'data_dict' is your dictionary with DataFrames
dataframes_list = list(new.values())  # Collect all DataFrames from the dictionary

# Concatenate all DataFrames vertically
combined_dataframe = pd.concat(dataframes_list, axis=0, ignore_index=True)
combined_dataframe

nan,Woman,Man,Non-binary,Prefer to self-describe:,Prefer not to say,Questions
0,86.44%,68.57%,*,*,*,Q3. I feel pressure at Brown to find internshi...
1,30.51%,75.71%,*,*,*,Q3. I feel confident studying computer science...
2,69.49%,41.43%,*,*,*,Q3. I feel intimidated studying Computer Scien...
3,1.69%,1.43%,*,*,*,Q3. None of the above
4,44.07%,15.71%,*,*,*,Q4. I have experienced microaggression. A micr...
...,...,...,...,...,...,...
87,78.43%,87.93%,*,*,*,Q20. No
88,1.96%,5.17%,*,*,*,Q20. Maybe
89,66.67%,43.10%,*,*,*,Q21. Yes
90,29.41%,37.93%,*,*,*,Q21. No
91,3.92%,18.97%,*,*,*,Q21. Maybe

In [27]:
all_data = []
# df = pd.read_excel(file_path, sheet_name=sheet_name)
df.columns = df.iloc[0]  # Set the first row as header
df = df.drop(0).reset_index(drop=True)  # Drop the header row from the data

# Melt the DataFrame to long format
melted_df = df.melt(id_vars=df.columns[0], var_name='Demographic', value_name='Value')
melted_df.rename(columns={df.columns[0]: 'Question'}, inplace=True)
all_data.append(melted_df)
all_data

[                                              Question Demographic  \
 0     Q3.Check all of the following that apply to you:         NaN
 1                                                  NaN         NaN
 2                                                Woman         NaN
 3                                                  Man         NaN
 4                                           Non-binary         NaN
 ...                                                ...         ...
 1052                                             Woman         NaN
 1053                                               Man         NaN
 1054                                        Non-binary         NaN
 1055                          Prefer to self-describe:         NaN
 1056                                 Prefer not to say         NaN

                                                   Value
 0                                                   NaN
 1     I feel pressure at Brown to find internships, ...
 2                                                86.44%
 3                                                68.57%
 4                                                     *
 ...                                                 ...
 1052                                                NaN
 1053                                                NaN
 1054                                                NaN
 1055                                                NaN
 1056                                                NaN

 [1057 rows x 3 columns]]

In [13]:
df

,Gender Demographic Analysis,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,* Note: Some demographic groups had less than ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Q3.Check all of the following that apply to you:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,"I feel pressure at Brown to find internships, ...",I feel confident studying computer science and...,I feel intimidated studying Computer Science a...,None of the above,NaN,NaN,NaN
3,Woman,86.44%,30.51%,69.49%,1.69%,NaN,NaN,NaN
4,Man,68.57%,75.71%,41.43%,1.43%,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
147,Woman,66.67%,29.41%,3.92%,NaN,NaN,NaN,NaN
148,Man,43.10%,37.93%,18.97%,NaN,NaN,NaN,NaN
149,Non-binary,*,*,*,NaN,NaN,NaN,NaN
150,Prefer to self-describe:,*,*,*,NaN,NaN,NaN,NaN
151,Prefer not to say,*,*,*,NaN,NaN,NaN,NaN